.border-pane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgb(155, 180, 108) 0%, rgb(85, 138, 89) 100%);
}

.vertical-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #20242D, 30, 0, 0, 0);
}

.title-label {
    -fx-font-size: 20px;
    -fx-padding: 0 0 10px 0;
    -fx-border-insets: 0 0 10px 0;
    -fx-background-insets: 0 0 10px 0;
}

.text-field {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(155, 180, 108, 0.3);
    -fx-background-color: transparent;
}

.text-field:hover {
    -fx-border-color: rgba(155, 180, 108, 0.5);
}

.text-field:focused {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(155, 180, 108, 0.8);
    -fx-background-color: transparent;
}

.error-label {
    -fx-text-fill: #930000;
    -fx-padding: 0 0 10px 0;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(44, 52, 75, 0.3), 10, 0, 0, 0);
}

.button:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(44, 52, 75, 0.3), 10, 0, 0, 0);
}

.button:hover {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(44, 52, 75, 0.3), 10, 0, 0, 0);
}

.button:pressed {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(44, 52, 75, 0.3), 10, 0, 0, 0);
}

.connect-button {
    -fx-background-color: #9bb46c;
}

.connect-button:focused {
    -fx-background-color: #6cb46c;
}

.connect-button:hover {
    -fx-background-color: #63a869;
}

.connect-button:pressed {
    -fx-background-color: #558a59;
}

.offline-button {
    -fx-background-color: #808080;
}

.offline-button:focused {
    -fx-background-color: #949494;
}

.offline-button:hover {
    -fx-background-color: #9c9c9c;
}

.offline-button:pressed {
    -fx-background-color: #a3a3a3;
}
