#background {
    -fx-background-color: linear-gradient(to bottom right, rgb(74, 74, 74), rgb(57, 57, 57));
}

#header {
    -fx-background-color: linear-gradient(to bottom, rgb(155, 180, 108), rgb(127, 180, 108));
    -fx-effect: dropshadow(three-pass-box, #2b303b, 30, 0, 0, 0);
}

.content {
    -fx-padding: 20px;
}
